.block{
    border: 2px solid white !important;
    font-size: 30px!important;
}

.box{
    margin: 5px!important;
}

.infra{
    background: #40739e;
}

.host{
    background: #0097e6;
}

.bin{
    background: #44bd32;
}

.ws{
    background: #e1b12c;
}

.db{
    background: #c23616;
}

.hyp{
    background: #8e44ad;
}


.fa-ul {

    list-style-type: none !important;

}

pre{
    margin: 0!important;
}

pre code:before, pre code:after{
    display: none;
}

.header{
    color: #384d54!important;
}

.bg-img{
    background: none!important;
    border: none!important;
}